* {
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Caveat', cursive;
  background-color: #ecf0f3;
  color: #667292;
  word-wrap: break-word;
  padding: 44px 30px;
}
h2{
  text-align: center;
}
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #667292;
  margin-bottom: 12px;
  border-radius: 20px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #667292;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #667292;
}

#myTable tr.header {
  background-color: #667292;
  color: #ecf0f3;
}
 #myTable tr:hover {
  background-color: #969eb6;
  color: #ecf0f3;
}